/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family-main: "Inter", sans-serif;
  --font-family-accent: "PressStart2P", fantasy;
  --font-weight-default: 400;
  --font-weight-title: 700;
  --font-size-default: 18px;
  --bg-color: #ffffff;
  --accent-color: #000000;
  --background-gradient: repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  --container-width: clamp(375px, 50vw, 696px);
  --text-stroke-color: #ffffff;
  --button-text-hover-color: #ffffff;
  --heart-contour-color: #000000;
  --heart-active-color: #ff0000;
}

@media (width <= 375px) {
  :root {
    --container-width: 100%;
  }
}
